# Puerto del servidor
PORT=5000

# Entorno (development o production)
NODE_ENV=development

# MongoDB Connection String (Atlas o local)
MONGO_URI=mongodb://localhost:27017/airbnb

# JWT Secret (CAMBIAR EN PRODUCCIÓN)
JWT_SECRET=cambia_esto_en_produccion_2026
